{% extends "base.html" %} 

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
</head>
<body>
    <h1>Patients</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data%}
            <tr>
                <td>{{ row.patient_id }}</td>
                <td>{{ row.first_name }}</td>
                <td>{{ row.last_name }}</td>
                <td>{{ row.date_of_birth }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}